@model IEnumerable<DoinikSokal.ViewModels.SiteBannerViewModel>
    
@foreach (var item in Model)
{
    <div class="col-md-6">
        <div class="thumbnail" style="margin-left: 10px;">
            <div class="bannerPost-left">
                <div class="post-img-left">
                    <a href="@Url.Action("Details","Technology", new {id=item.Id})"><img class="img-responsive" src="@Url.Content("~/PostImages/"+item.ImagePath)"></a>
                </div>
                <div class="post-img-left-content">
                    <a href="@Url.Action("Details","Technology", new {id=item.Id})">
                        <h2>@Html.DisplayFor(model => item.Title)</h2>
                    </a>
                    <p>@Html.Raw(item.Description.Length > 150 ? item.Description.Substring(0, 150) : item.Description)</p>
                </div>
            </div>
        </div>
    </div>
}
